In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
###Here we delete all the columns that are all null values. 
def delete_missing_cols(df):
    num_rows=len(df)
    # print('original number of columns',len(df.columns))
    missing_values=df.isna().sum()
    # print(missing_values)
    columns_to_delete=missing_values[missing_values.values==num_rows].index.to_list()
    # print(columns_to_delete)
    df=df.drop(columns_to_delete, axis=1)
    # print('new number of columns', len(df.columns))
    return df

In [4]:
### This function checks the top 5 value counts for every column in the dataframe. 
def check_value_counts(df):    
    for c in df.columns:
        print("---- %s ---" % c)
        print(df[c].value_counts().nlargest(5))

In [5]:
### This cell creates a dictionary and puts each dataframe corresponding to a csv file into the dictionary.

#this is our current directory
current_dir=os.getcwd()

#this is where the getty csv's are
file_location = os.path.join(os.path.dirname(current_dir), 'getty_csvs')

#dictionary
dataframes={}

#number of csv files
n=13

for i in range(1,n+1):
    print(i)
    df=pd.read_csv(f'{file_location}/sales_contents_{i}.csv', low_memory=False)
    dataframes[f'df{i}']=df

1
2
3
4
5
6
7
8
9
10
11
12
13

In [6]:
for i in range(1,n+1):
    print(i, len(dataframes[f'df{i}'].columns))
    dataframes[f'df{i}']=delete_missing_cols(dataframes[f'df{i}'])
    print(i, len(dataframes[f'df{i}'].columns))

1 503
1 274
2 503
2 274
3 503
3 221
4 503
4 261
5 503
5 248
6 503
6 248
7 503
7 223
8 503
8 83
9 503
9 95
10 503
10 69
11 503
11 83
12 503
12 85
13 503
13 71

In [1]:
# clean_file_location = os.path.join(os.path.dirname(current_dir), 'clean_getty_csvs')
# for i in range(1, n+1):
#     dataframes[f'df{i}'].to_csv(clean_file_location+f'/df{i}.csv', index=False)

In [123]:
# for i in range(1,3):
#     print(f"------------csv_{i}------------")
#     check_value_counts(dataframes[f'df{i}'])
#     print(i, len(dataframes[f'df{i}'].columns))

# Look at df13

In [32]:
df_test=pd.read_csv(clean_file_location+'/df13.csv')
df_test.head()

/var/folders/6s/vp38349x5_g_2kyxwl7tstw80000gn/T/ipykernel_36269/2427584815.py:1: DtypeWarning: Columns (8,25,26,27,28,29,31,32,33,34,36,37,38,39,44,48,49,51,52,53,54,55,56,57,61,63,66,68,69) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test=pd.read_csv(clean_file_location+'/df13.csv')

,Unnamed: 0,catalog_number,lot_number,pg,lot_sale_year,lot_sale_month,lot_sale_day,auction_house_1,auction_house_2,title,...,price_currency_1,price_note_1,price_source_1,price_citation_1,est_price,est_price_curr,start_price,start_price_curr,ppg,lot_notes
0,0,D-B4887,0042,5.0,1926,12,20,Dorotheum,NaN,"Hirtenfamilie. Kopie, Bez.: S. Rothkirch 1891,...",...,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling,7,"Aus der Katalogbeschreibung, geht nicht eindeu..."
1,1,D-B4887,0043,6.0,1926,12,20,Dorotheum,NaN,"Bildnis eines Geistlichen, vermutl. eines Chie...",...,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling,8,NaN
2,2,D-B4887,0044,6.0,1926,12,20,Dorotheum,NaN,"Damenbildnis (Eva Josepha Sperle, geb. Münster...",...,NaN,NaN,NaN,NaN,NaN,NaN,35,Österreichische Schilling,8,NaN
3,3,D-B4887,0045,6.0,1926,12,20,Dorotheum,NaN,"Tanzende Bauern im Hof eines Wirtshauses. Oel,...",...,NaN,NaN,NaN,NaN,NaN,NaN,100,Österreichische Schilling,8,NaN
4,4,D-B4887,0046,6.0,1926,12,20,Dorotheum,NaN,"Bauer und Mädchen in der Schenke. Oel, Holz, 2...",...,NaN,NaN,NaN,NaN,NaN,NaN,40,Österreichische Schilling,8,NaN

In [33]:
len(df_test['artist_name_1'].dropna())

26237

In [34]:
df_test['artist_name_1'].value_counts()

artist_name_1
[Unbekannt]                 1076
Prof. Louis Braun            846
Daniel Chodowiecki           249
Prof. G. Gaupp               238
Unbekannter Meister          218
                            ...
Despras                        1
Johann Adam Breysig            1
Berliner Meister um 1790       1
Joh. H. Schmidt                1
Vinckeboons                    1
Name: count, Length: 11184, dtype: int64

In [49]:
items_starting_with_a = df_test[df_test['artist_name_1'].str.startswith('A')]
starting_with_a_list=items_starting_with_a['artist_name_1'].tolist()
results=[]
for i in starting_with_a_list:
    if 'Achenbach' in i:
        results.append(i)
print(results)

['Andreas Achenbach', 'Achenbach, Oswald', 'Achenbach, Prof. Andr.', 'A. Achenbach', 'A. Achenbach', 'Achenbach, Prof. Andreas', 'Achenbach, Prof. Andreas', 'A. Achenbach', 'A. Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Achenbach, Andreas', 'Achenbach, Oswald', 'Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'A. Achenbach', 'Achenbach Oswald', 'Achenbach Andreas', 'Achenbach Andreas', 'Achenbach Oswald', 'Andreas Achenbach', 'Achenbach, A.', 'Achenbach, Prof. A.', 'A. Achenbach', 'A. Achenbach', 'A. Achenbach', 'Achenbach, Oswald', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach', 'Andreas Achenbach']

In [46]:
set(starting_with_a_list)

{'A Broik',
 'A Tilch',
 'A. Achenbach',
 'A. Alberici',
 'A. Arens',
 'A. B.',
 'A. Bach',
 'A. Bachmann',
 'A. Bachmann Eschweiler',
 'A. Baldin',
 'A. Bauer',
 'A. Becker',
 'A. Behrens',
 'A. Bell',
 'A. Bender',
 'A. Benker',
 'A. Bennewitz',
 'A. Berthold',
 'A. Bertola',
 'A. Beukelaer',
 'A. Bianchi',
 'A. Binder',
 'A. Binenbaum',
 'A. Blümme',
 'A. Bonnenberg',
 'A. Boths',
 'A. Brausen',
 'A. Bredow',
 'A. Brock',
 'A. Broik',
 'A. Burger',
 'A. Bähker',
 'A. C. F. U.',
 'A. C. Lanzirotti',
 'A. Carracci',
 'A. Carrier-Belleuse',
 'A. Cauchois',
 'A. Cecchi',
 'A. Cerlo',
 'A. Chatelaine',
 'A. Chelius',
 'A. Chwala',
 'A. Cittadini',
 'A. Clercet',
 'A. Constin',
 'A. Costoli',
 'A. Couchois',
 'A. D. Weber',
 'A. Dammin',
 'A. Dechanet',
 'A. Delmar',
 'A. Denzel',
 'A. Desfeux',
 'A. Dieffenbach',
 'A. Dieffenbacher',
 'A. Doll',
 'A. Doré',
 'A. Dubourg',
 'A. Dumrat',
 'A. Duprez',
 'A. Eders',
 'A. Elfinger (Cajetan)',
 'A. Emons',
 'A. Engert',
 'A. Erhorn',
 'A. F. Bazane',
 'A. F. König',
 'A. Faure',
 'A. Feestmann',
 'A. Ferstler',
 'A. Feuerbach',
 'A. Fiebiger',
 'A. Fierz',
 'A. Fink',
 'A. Flank',
 'A. Flinker',
 'A. Flockenhaus',
 'A. Forsberg',
 'A. Fr. Müller',
 'A. Frank',
 'A. Franke',
 'A. Franz',
 'A. Frey',
 'A. Frey-Moock',
 'A. Friedlander',
 'A. Gaudez',
 'A. Geist',
 'A. Geraschf',
 'A. Gerhart',
 'A. Gianotti',
 'A. Glück',
 'A. Goblet',
 'A. Grimmer',
 'A. Grögerchen',
 'A. Grögerchen bez.',
 'A. Guillaumin',
 'A. Guillemin',
 'A. Göbel',
 'A. Gürtler',
 'A. H. Riedel',
 'A. H. Schram',
 'A. Haak van Hulst',
 'A. Hagen',
 'A. Hambresin',
 'A. Hammel',
 'A. Hann',
 'A. Hannweber',
 'A. Haun',
 'A. Heinisch',
 'A. Henger',
 'A. Heubach',
 'A. Hlavacek',
 'A. Hofmann',
 'A. Hutschenreuther',
 'A. Hölzl',
 'A. Hüser',
 'A. J. Bazane',
 'A. J. Besters',
 'A. J. Lamme',
 'A. J. v. Wyngaerdt',
 'A. Jacobsen',
 'A. Jansen',
 'A. Jensen',
 'A. Just',
 'A. Jünemann',
 'A. K.',
 'A. Kaiser',
 'A. Kalman',
 'A. Kappis',
 'A. Karol',
 'A. Kaufman',
 'A. Kaufmann',
 'A. Keerincx',
 'A. Keller',
 'A. Kircher',
 'A. Knoop',
 'A. Knoop bez.',
 'A. Korneck',
 'A. Kreutzer',
 'A. Krohn',
 'A. Kully',
 'A. Kurz',
 'A. Kämper',
 'A. König',
 'A. L.',
 'A. L. Kraemer',
 'A. L. Mielich',
 'A. L. Terni',
 'A. Lahoda',
 'A. Landsberger',
 'A. Lang',
 'A. Lanonzo',
 'A. Laurent',
 'A. Lazar',
 'A. Lehmann',
 'A. Lesmann',
 'A. Lettner',
 'A. Leuzert',
 'A. Lieblang',
 'A. Lonza',
 'A. Lorenzo',
 'A. Ludwig Richter',
 'A. Luigi bez.',
 'A. M.',
 'A. M. 1853 (Adolf Menzel?)',
 'A. Marazzan',
 'A. Marx',
 'A. Mattenheimer',
 'A. Mauve',
 'A. Meindl',
 'A. Mercier',
 'A. Meurer',
 'A. Mignon',
 'A. Millot',
 'A. Moreau',
 'A. Möller',
 'A. Müller',
 'A. Müller Baumgarten',
 'A. Müller-Wirschin',
 'A. Nagels',
 'A. Nauer',
 'A. Niedoba',
 'A. Normann',
 'A. Oberländer',
 'A. Peschka',
 'A. Pesne',
 'A. Peters',
 'A. Pez',
 'A. Pick',
 'A. Polzer-Hoditz',
 'A. Prehn',
 'A. Preußner',
 'A. Priechenfried',
 'A. R. Mengs',
 'A. Rademaker',
 'A. Rafsmulfsen',
 'A. Rath',
 'A. Rau',
 'A. Reber',
 'A. Reinermann',
 'A. Reumont',
 'A. Rheinemann',
 'A. Rieger',
 'A. Rieper',
 'A. Rohlig',
 'A. Romako',
 'A. Rose',
 'A. Roth',
 'A. Rothe',
 'A. Rqskotova',
 'A. S.',
 'A. S. 1862',
 'A. S. Renani',
 'A. Sachs',
 'A. Schelfhout',
 'A. Schelfout',
 'A. Schiffer',
 'A. Schlater',
 'A. Schmidt',
 'A. Schniewind',
 'A. Schrader',
 'A. Schrödl',
 'A. Schönian',
 'A. Seifert',
 'A. Senglaub',
 'A. Sentleben',
 'A. Siebelist',
 'A. Siegert',
 'A. Silverio',
 'A. Smeck',
 'A. Soldenhoff',
 'A. Specht',
 'A. Splitgerber',
 'A. Stademann',
 'A. Stevens',
 'A. Stocker',
 'A. Stroo',
 'A. Stroy',
 'A. Struck',
 'A. Stutzinger',
 'A. Stäbli',
 'A. Stöcke',
 'A. Telarik',
 'A. Thiele',
 'A. Tominz',
 'A. Tonti',
 'A. Torini',
 'A. Trichtl',
 'A. Vanotti',
 'A. Vermeulen',
 'A. Verwel',
 'A. Voigt',
 'A. Vollon',
 'A. Wachter',
 'A. Wagenmann',
 'A. Waring',
 'A. Weber',
 'A. Weczercick',
 'A. Wex',
 'A. Windmaier',
 'A. Wintl',
 'A. Wirth',
 'A. Witte',
 'A. Wydenbach',
 'A. Zampetro',
 'A. Zampis',
 'A. Zimmermann',
 'A. Zoppi',
 'A. Zwengauer',
 'A. de Bouché',
 'A. de Senezcourt',
 'A. v. Pettenkofen',
 'A. v. Schönberger',
 'A. v. d. Venne',
 'A. van Calraet',
 'A. van Dienen',
 'A. van Liep',
 'A. van de Velde',
 'A. von Keller',
 'A. von Kowalski',
 'Aachen 14. Jahrh.',
 'Aachen um 1500',
 'Aachener Meister 19. Jahrh.',
 'Aachener Meister Mitte 19. Jahrh.',
 'Aachener Meister Mitte XIX. Jahrh.',
 'Aalts, Franz von',
 'Aart Schouman',
 'Aart de Gelder',
 'Aart van Leyden',
 'Aart van der Neer',
 'Abel, Joseph',
 'Abele H.',
 'Abrah. Janssens',
 'Abraham Begeyn',
 'Abraham Bloemaert',
 'Abraham Casembrot',
 'Abraham Delfos',
 'Abraham Genoels',
 'Abraham Hendricksz Beijeren',
 'Abraham Hulk',
 'Abraham Mignon',
 'Abraham Rademaker',
 'Abraham Storck',
 'Abraham Stork',
 'Abraham v. Diepenbeeck',
 'Abraham van Borssom',
 'Abraham van Diepenbeeck',
 'Abraham van Strij',
 'Abraham van Stry',
 'Abraham van der Hoeff',
 'Achen, J. van',
 'Achenbach',
 'Achenbach Andreas',
 'Achenbach Oswald',
 'Achenbach, A.',
 'Achenbach, Andreas',
 'Achenbach, Oswald',
 'Achenbach, Prof. A.',
 'Achenbach, Prof. Andr.',
 'Achenbach, Prof. Andreas',
 'Achille Vianelli',
 'Ad. Behrens',
 'Ad. Eirich',
 'Ad. Hengeler',
 'Ad. Hirschl-Hiremy',
 'Ad. Lier',
 'Ad. Schreyer',
 'Ad. Stademann',
 'Ad. Wex',
 'Ad. v. Menzel',
 'Adalbert Metzger',
 'Adalbert Sucht',
 'Adalbert Suchy',
 'Adalbert Wenk',
 'Adalbert Wex',
 'Adalbert von Roessler',
 'Adam Albrecht',
 'Adam Bartsch',
 'Adam Benno',
 'Adam Elsheimer',
 'Adam Elzheimer',
 'Adam Eugen',
 'Adam Franz',
 'Adam François van der Meulen',
 'Adam Friedrich Oeser',
 'Adam Griemer',
 'Adam Huber',
 'Adam I.',
 'Adam Kunz',
 'Adam Pijnacker',
 'Adam Pynacker',
 'Adam Pynaker',
 'Adam Willarts',
 'Adam von Bartsch',
 'Adam, Albrecht',
 'Adam, Benno',
 'Adam, Emil',
 'Adam, Franz',
 'Adam, J.',
 'Adams, John Quincy Professor',
 'Adele Werner',
 'Adjukiewicz, Th.',
 'Adler, Edmund',
 'Adolf Behrens',
 'Adolf Buchta',
 'Adolf Curry',
 'Adolf Demon',
 'Adolf Ditscheiner',
 'Adolf Eberle',
 'Adolf Friedrich Harper',
 'Adolf Grotefend',
 'Adolf Gustav Schweitzer',
 'Adolf Helburg',
 'Adolf Hoeffler',
 'Adolf Hoffler',
 'Adolf Höffler',
 'Adolf Kapfhammer',
 'Adolf Kaufmann',
 'Adolf Lier',
 'Adolf Lins',
 'Adolf Luntz',
 'Adolf Léon Willette',
 'Adolf Menzel',
 'Adolf Neumann',
 'Adolf Northen',
 'Adolf Oberländer',
 'Adolf Obermüllner',
 'Adolf Richter',
 'Adolf Schill',
 'Adolf Schmidt',
 'Adolf Schmitz (Schmitz-Crolenburgh)',
 'Adolf Schreyer',
 'Adolf Schroedter',
 'Adolf Schrödter',
 'Adolf Schweitzer',
 'Adolf Seel',
 'Adolf Stademann',
 'Adolf Stäbli',
 'Adolf Theer',
 'Adolf Tidemand',
 'Adolf von Menzel',
 'Adolph Behrens',
 'Adolph Menzel',
 'Adolph Raumann',
 'Adolph Schreyer',
 'Adolph Stademann',
 'Adolph von Menzel',
 'Adolphe Eugene Gabriel Roehn',
 'Adolphe Hervier',
 'Adolphe Monticelli',
 'Adr. Brouwer',
 'Adr. van Ostade',
 'Adr. van de Venne',
 'Adriaan Gryeff',
 'Adriaen Brouwer',
 'Adriaen Frans Boudewijns',
 'Adriaen Jansz van Ostade',
 'Adriaen Jansz van Ostade ?',
 'Adriaen van Der Werff',
 'Adriaen van Ostade',
 'Adriaen van de Velde',
 'Adriaen van de Venne',
 'Adriaen van der Velde',
 'Adriaen van der Werff',
 'Adriaen van der Werff ?',
 'Adrian Brouwer',
 'Adrian Hendriksz Verboom',
 'Adrian Ludwig Richter',
 'Adrian Pietersz van der Venne',
 'Adrian Pieterz van der Venne',
 'Adrian Zingg',
 'Adrian van Diest',
 'Adrian van Ostade',
 'Adrian van de Velde',
 'Adrian van der Cabel',
 'Adrian van der Hest',
 'Adrian van der Venne',
 'Adrian von Ostade',
 'Adrien Dauzats',
 'Aelbert Cuyp',
 'Aelbert Cuyp ?',
 'Aelbert Verhoesen',
 'Aermont van Der Neer',
 'Aernout v. d. Neer',
 'Aernout van der Neer',
 'Aert Schouman',
 'Aert de Gelder',
 'Aert van der Meer',
 'Agnes Meyerhof',
 'Agostino Caracci',
 'Agostino Carracci',
 'Agricola',
 'Ahler',
 'Aigner P.',
 'Ajdukiewicz, Zigmunt',
 'Al. Sievers',
 'Alb. Aug. Zimmermann ?',
 'Albani',
 'Albani, Francesco',
 'Albani, Franzesco',
 'Albert Arnz',
 'Albert Belleroche',
 'Albert Brendel',
 'Albert Cuyp',
 'Albert Decker',
 'Albert Dietrich Schadow',
 'Albert Emil Kirchner',
 'Albert Flamen',
 'Albert Glockendon',
 'Albert Gräfle',
 'Albert H. Brendel',
 'Albert Hendschel',
 'Albert Hertel',
 'Albert Kappis',
 'Albert Keller',
 'Albert Kornek',
 'Albert Lang',
 'Albert Marquet',
 'Albert Mühlig',
 'Albert Müller-Lingke',
 'Albert Richter',
 'Albert Ritzberger',
 'Albert Schindler',
 'Albert Schmidt',
 'Albert Spethmann',
 'Albert Stagura',
 'Albert Theer',
 'Albert Thorwaldsen',
 'Albert Wenk',
 'Albert Wolf',
 'Albert Zimmermann',
 'Albert von Keller',
 'Albrecht Adam',
 'Albrecht Dürer',
 'Albrecht, Henry',
 'Albuzzi',
 'Alconiere',
 'Alegrin',
 'Alendel V',
 'Alessandrino',
 'Alessandro Magnasco',
 'Alessandro Milone',
 'Alex Weise',
 'Alex. Kircher',
 'Alexander Calame',
 'Alexander Clarot',
 'Alexander Freih. v. Otterstedt',
 'Alexander Freiherr von Otterstedt',
 'Alexander Frh. V. Otterstedt',
 'Alexander Johann Dallinger von Dalling',
 'Alexander Keerincx',
 'Alexander Keirincx',
 'Alexander Kircher',
 'Alexander Liernur',
 'Alexander Marcette',
 'Alexander Marie de la Roche',
 'Alexander Michelis',
 'Alexander Reinhardt',
 'Alexander Ritter von Bensa',
 'Alexander Sack',
 'Alexander Soldenhoff',
 'Alexander Trichtl',
 'Alexander Zick',
 'Alexander von Bensa',
 'Alexander von Wagner',
 'Alexander, Freiherr von Otterstedt',
 'Alexandre Calame',
 'Alexandre Decamps',
 'Alexandre Fragonard',
 'Alexandre Théophile Steinlen',
 'Alexandre de Lassus',
 'Alfred Feiks',
 'Alfred Friedländer',
 'Alfred Gerasch',
 'Alfred Heide',
 'Alfred Holler',
 'Alfred Jensen',
 'Alfred Krohn',
 'Alfred Partikel',
 'Alfred Rethel',
 'Alfred Schmidt',
 'Alfred Schnaars',
 'Alfred Schwarz',
 'Alfred Sisley',
 'Alfred Stevens',
 'Alfred Thomson',
 'Alfred Verwée',
 'Alfred Weczerzick',
 'Alfred von Schoenberger',
 'Alfred von Schönberger',
 'Alhert Bitterlich',
 'Alice Gautier',
 'Allaert van Everdingen',
 'Allaert van Everdingen angeblich',
 'Allart van Everdingen',
 'Aller, Carl',
 'Allers, C. W.',
 'Allessandro Loni',
 'Allori Alessandro',
 'Allori, Alessandro genannt A. Bronzino',
 'Aloilo',
 'Alois Binder',
 'Alois Brodi',
 'Alois Erdtelt',
 'Alois Gabl',
 'Alois Greil',
 'Alois Gustav Petrowitsch Rockstuhl',
 'Alois Kirnig',
 'Alois Lahoda',
 'Alois Penz',
 'Alois Schoenn',
 'Alois Schonn',
 'Alois Schönn',
 'Alois von Anreiter',
 'Alonso Cano',
 'Alott, Rudolf',
 'Aloys Hanisch d. Aeltere',
 'Alpenländisch 16. Jahrh.',
 'Alpenländisch 17. Jahrh.',
 'Alpenländische Volkskunst 17. Jahrh.',
 'Alphons Spring',
 'Alt, Franz',
 'Alt, Jacob',
 'Alt, Rudolf von',
 'Alt-Deutscher Maler um 1560',
 'Alt-Wiener',
 'Alt-Wiener Maler',
 'Alt-Wiener Meister',
 'Altdeutsche Schule',
 'Altdeutsche Schule des XVI. Jahrhunderts',
 'Altdeutscher Meister',
 'Altdeutscher Meister 17. Jahrh.',
 'Altdeutscher Meister XVI. Jahrh.',
 'Alte Meister unbezeichnet',
 'Alter Holländischer Meister',
 'Alter Meister',
 'Altmann K.',
 'Altniederländer Schule',
 'Altomonte',
 'Altomonte Martinus',
 'Altwiener Maler',
 'Altwiener Meister um 1830',
 'Altwiener Schule',
 'Altwiener Schule Anfang des 19. Jahrhunderts',
 'Altwiener Schule Mitte des 19. Jahrhunderts',
 'Altwiener Schule um 1800',
 'Altwiener Schule um 1810',
 'Amalie Baader',
 'Amandus Fan Re',
 'Amandus Faure',
 'Ambrosius Breughel',
 'Ambrosius Francken',
 'Ameseder Eduard',
 'Ameseder, Eduard',
 'Amon A.',
 'An Naldini erinnernd',
 'Anderer',
 'Anders Hansson Kallenberg',
 'Anders Zorn',
 'Anders, E.',
 'Andersen-Lundby',
 'Andersen-Lundby, A.',
 'Anderson',
 'Anderson, G.',
 'Andre Derain',
 'Andre Lhote',
 'Andrea Appiani',
 'Andrea Locatelli',
 'Andrea Mantegna',
 'Andrea Sacchi',
 'Andrea Vicentino',
 'Andrea del Sarto',
 'Andreas Achenbach',
 'Andreas Both',
 'Andreas Deckelmann',
 'Andreas Hall',
 'Andreas Joseph Chandelle',
 'Andreas Lach',
 'Andreas Ludwig Krüger',
 'Andreas Moeller',
 'Andreas Schelfhout',
 'Andreas Schluter',
 'Andreas van Artvelt',
 'Andreotti, F.',
 'Andrew Plimer',
 'Andrew Robertson',
 'Andries Both',
 'Andries Vermeulen',
 'Andries van Eertvelt',
 'Andries van Ertvelt',
 'Andriessen, A.',
 'Anf. 16. Jahrh.',
 'Anf. 18. Jahrh.',
 'Anf. 19. Jahrh.',
 'Anf. XIX Jahrh.',
 'Anf. XIX. Jahrh.',
 'Anfang 18. Jahrh.',
 'Anfang 19. Jahrhundert',
 'Anfang 19. Jhdt.',
 'Anfang des 16. Jahrhunderts',
 'Anfang des 18. Jahrhunderts',
 'Anfang des XVIII. Jahrhunderts',
 'Angeblich Delcourt',
 'Angeblich Domer',
 'Angeblich Tischbein',
 'Angeblich von Stieler',
 'Angeli, Heinrich',
 'Angeli, Heinrich von',
 'Angelica Kauffmann',
 'Angelika Kauffmann',
 'Angelika Kaufmann',
 'Angelo Jank',
 'Angelo v. Courten',
 'Angilbert Göbel',
 'Angilbert Wunibald Goebel',
 'Anker Skaga',
 'Anna Dorothea Lisiewski',
 'Anna Dorothea Liszewska',
 'Anna Dorothea Liszewska verehel. Therbusch',
 'Anna M. Petersen',
 'Anna Maria Elisabeth Jerichau',
 'Anna Peters',
 'Anna Rosina Liszewska',
 'Anna Struck',
 'Anne Mee',
 'Anne Nicole Voullemier',
 'Anne-Nicole Voullemier',
 'Annibale Caracci',
 'Annibale Carracci',
 'Anonym',
 'Anonym 1596',
 'Anonym 18. Jahrh.',
 'Anonym 18. Jhrh.',
 'Anonym Kopie aus dem 19. Jahrh.',
 'Anonym Wiener Meister des 18. Jahrh.',
 'Anonym bezeichnet Giacobo Antonelli',
 'Anonym um 1800',
 'Anonym um 1850',
 'Anonym um ca. 1500',
 'Anonym. 16. Jahrhundert',
 'Anonym. Anf. des 19. Jahrh.',
 'Anonyme Deutsche Meister des 16. Jahrhunderts',
 'Anonyme Deutsche Meister des 18. und 19. Jahrhunderts',
 'Anonyme Italienische Meister des 16.-18. Jahrhunderts',
 'Anonyme Italienische Meister des 17. und 18. Jahrhunderts',
 'Anonyme Meister',
 'Anonyme Meister XVII. Jahrhundert',
 'Anonymer Deutscher Meister des 15. Jahrhunderts',
 'Anonymer Deutscher Meister des 16. Jahrhunderts',
 'Anonymer Frankfurter Meister',
 'Anonymer Italienischer Meister des 15. Jahrhunderts',
 'Anonymer Künstler 18. Jahrhundert',
 'Anonymer Künstler des 19. Jahrhunderts',
 'Anonymer Künstlers des 18. Jahrhunderts',
 'Anonymer Maler',
 'Anonymer Maler um 1840',
 'Anonymer Meister',
 'Anonymer Meister 18. Jahrhundert',
 'Anonymer Meister des XV. Jahrhunderts',
 'Anonymer Meister um 1700',
 'Anonymer Meister um 1800',
 'Anonymer Meister um 1830',
 'Anonymer Orientalischer Meister des 15. Jahrhunderts',
 'Anonymer alter Meister',
 'Anreiter',
 'Anreiter, Alois von',
 'Ansche Fuhrmann',
 'Anscheinend F. W. Tischbein',
 'Anselm Feuerbach',
 'Ant. Pesne',
 'Ant. Waterloo',
 'Ant. da Correggio',
 'Anth. v. Dyck',
 'Anthelm François Lagrénée',
 'Anthelme François Lagrénée',
 'Anthonis Waldorp',
 'Anthonis Waterloo',
 'Anthonis ter Himpel',
 'Anthony Andriessen',
 'Anthony Palamedesz',
 'Anthonys van Dyck',
 'Antoine Bail',
 'Antoine Coypel',
 'Antoine Guillemet',
 'Antoine Jean Baron Gros',
 'Antoine Pesne',
 'Antoine Sergent',
 'Antoine Vestier',
 'Antoine Vollon',
 'Anton Altmann',
 'Anton Ameseder',
 'Anton Balzer',
 'Anton Bauer',
 'Anton Bernreiter',
 'Anton Braith',
 'Anton Burger',
 'Anton Doll',
 'Anton Ebert',
 'Anton Einsle',
 'Anton Engelhard',
 'Anton Faistauer',
 'Anton Franz Maulbertsch',
 'Anton Franz Maulpertsch',
 'Anton Friedrich König der Ältere',
 'Anton Graff',
 'Anton Hanisch',
 'Anton Hansch',
 'Anton Hlavacek',
 'Anton Hoffmann',
 'Anton Jakob Wijngaerdt',
 'Anton Kern',
 'Anton Kraus',
 'Anton Lange',
 'Anton Liehm',
 'Anton Mansch',
 'Anton Mirou',
 'Anton Müller',
 'Anton Pick',
 'Anton Radl',
 'Anton Rafael Mengs',
 'Anton Raphael Mengs',
 'Anton Reisch',
 'Anton Richter',
 'Anton Romako',
 'Anton Schellein',
 'Anton Schrödl',
 'Anton Strassgschwandtner',
 'Anton Umpfenbach',
 'Anton Urlaub',
 'Anton Waterloo',
 'Anton Windmaier',
 'Anton Zampis',
 'Anton Zeller',
 'Anton Zwengauer',
 'Anton van Dyck',
 'Anton von Gegenbaur',
 'Anton von Hoffmann',
 'Anton von Werner',
 'Antoni Mauve',
 'Antonie Mirou',
 'Antonie Pesne',
 'Antonio Allegri da Corregio',
 'Antonio Allegri genannt Correggio',
 'Antonio Becker',
 'Antonio Bordolini',
 'Antonio Canal genannt Canaletto',
 'Antonio Canale',
 'Antonio Canale genannt Canaletto',
 'Antonio Canova',
 'Antonio Casanova y Estorach',
 'Antonio Daniele Bertoli',
 'Antonio Tempesta',
 'Antonio Vicentini',
 'Antonio Viviani ?',
 'Antonio da Correggio',
 'Antonio da Corregio',
 'Antonio de Pian',
 'Antonis Waterloo',
 'Antonis van Dyck',
 'Antonius van Dyck',
 'Antonj Waterloo',
 'Antony Andriessen',
 'Antretter',
 'Antwerpener Meister XVII. Jahrh.',
 'Antwerpener Meister um 1500',
 'Apol, Jean Pierre',
 'Appold Karl',
 'Apshoven, Ferdinand von',
 'Apshoven, Thomas van',
 'Arbeit des 17. Jahrh.',
 'Architektonische Entwurfe von Italienischen Meistern des 15. und 16. Jahrhunderts',
 'Arie de Vois',
 'Ariello Falcone',
 'Aristides Oeconomo',
 'Armfield, Ged.',
 'Arnold',
 'Arnold Boecklin',
 'Arnold Böcklin',
 'Arnold Houbraken',
 'Arnold Jan Eymer',
 'Arnold Schulten (Seetisch)',
 'Arnoldus Bloemers',
 'Arnz, Alb.',
 'Arnz, Albert',
 'Aron Toni',
 'Arpino Josef',
 'Art Schouman',
 'Arth. Illies',
 "Arthois, Jaques d'",
 'Arthur Calame',
 'Arthur Degner',
 'Arthur Georg von Ramberg',
 'Arthur Grottger',
 'Arthur Kampf',
 'Artur Calame',
 'Artz',
 'Ary Huibersz Verwer',
 'Asam',
 'Ascan Lutteroth',
 'Ascher H.',
 'Asmus Rob.',
 'Asmus Robert',
 'Asmussen, A.',
 'Aspertini, Amigo',
 'Asselyn, Jan',
 'Assenbaum, Fanny',
 'Aste',
 'Asti',
 'Astudin, N. von',
 'Atzinger',
 'Aublet, Albert',
 'Aubrey Beardsley',
 'Audenaerde Robert van',
 'Aug. Anton Tischbein',
 'Aug. Fink',
 'Aug. Herzog',
 'Aug. Karl Friedrich von Kloeber',
 'Aug. Kaulbaeh',
 'Aug. Köhler',
 'Aug. Kühles',
 'Aug. Moreau',
 'Aug. Müller',
 'Aug. Schleich',
 'Aug. Seidel',
 'Aug. Specht',
 'Aug. Wilhelm Esperstedt',
 'Aug. von Bayer',
 'Aug. von Meisl',
 'Aug. von Meissel',
 'Augsburg zweite Hälfte des 16. Jahrh.',
 'Augsburger Meister um 1590',
 'Augsburger Meister um 1600',
 'Augsburger Schule um 1700',
 'August Albert Zimmermann',
 'August Beker',
 'August Bromeis',
 'August Bräutigam',
 'August Fink',
 'August Fleischmann',
 'August Friedrich Oelenhainz',
 'August Friedrich Rauscher',
 'August Futterer',
 'August Gaul',
 'August Gerasch',
 'August Grahl',
 'August Haun',
 'August Heinrich Riedel',
 'August Hofer',
 'August Humbert',
 'August J. Gross',
 'August J. Groß',
 'August Jakob Theodor von Heyden',
 'August Kaselowski',
 'August Kessler',
 'August Kühles',
 'August Leu',
 'August Loeffler',
 'August Lucas',
 'August Löffler',
 'August Maximilian Zimmermann',
 'August Müller',
 'August Prinzhofer',
 'August Richter',
 'August Riedel',
 'August Schaeffer',
 'August Schleich',
 'August Seidel',
 'August Sieger',
 'August Varnesi',
 'August Weber',
 'August Wilhelm Rudolph Lehmann',
 'August van der Embde',
 'August von Klöber',
 'August von Pettenkofen',
 'August von Pettenkoffen',
 'August von Rentzel',
 'Augusta Deutsche Kaiserin Königin von Preussen',
 'Auguste Boulard',
 'Auguste Crelinger',
 'Auguste Croissant',
 'Auguste Delacroix',
 'Auguste Galimard',
 'Auguste Moreau',
 'Auguste Renoir',
 'Auguste Rodin',
 'Auguste Théodule Ribot',
 'Auguste Toulmouche',
 'Augustijn Terwesten',
 'Augustin Braun',
 'Aurelia Wagner',
 'Aus der ersten Hälfte des 19. Jahrhunderts',
 'Axentowicz',
 'Ayon, L.'}

In [38]:
df_test[df_test['artist_name_1']=='Prof. Louis Braun']

,Unnamed: 0,catalog_number,lot_number,pg,lot_sale_year,lot_sale_month,lot_sale_day,auction_house_1,auction_house_2,title,...,price_currency_1,price_note_1,price_source_1,price_citation_1,est_price,est_price_curr,start_price,start_price_curr,ppg,lot_notes
23186,23186,D-B3233,0721,29.0,1919,7,9,Fleischhauer (Felix),NaN,Franz. Militär zu Fuss und zu Pferd. Aquarelle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
23187,23187,D-B3233,0722,29.0,1919,7,9,Fleischhauer (Felix),NaN,Franz. Militär zu Fuss und zu Pferd. Aquarelle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
23188,23188,D-B3233,0723,29.0,1919,7,9,Fleischhauer (Felix),NaN,Franz. Militär zu Fuss und zu Pferd. Aquarelle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
23189,23189,D-B3233,0724,29.0,1919,7,9,Fleischhauer (Felix),NaN,Franz. Militär zu Fuss und zu Pferd. Aquarelle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
23190,23190,D-B3233,0725,29.0,1919,7,9,Fleischhauer (Felix),NaN,Franz. Militär zu Fuss und zu Pferd. Aquarelle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24027,24027,D-B3233,1834,30.0,1919,7,9,Fleischhauer (Felix),NaN,"Persönlichkeiten, Porträts, Studienköpfe usw. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
24028,24028,D-B3233,1835,30.0,1919,7,9,Fleischhauer (Felix),NaN,"Persönlichkeiten, Porträts, Studienköpfe usw. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
24029,24029,D-B3233,1836,30.0,1919,7,9,Fleischhauer (Felix),NaN,"Persönlichkeiten, Porträts, Studienköpfe usw. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
24030,24030,D-B3233,1837,30.0,1919,7,9,Fleischhauer (Felix),NaN,"Persönlichkeiten, Porträts, Studienköpfe usw. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
24031,24031,D-B3233,1838,30.0,1919,7,9,Fleischhauer (Felix),NaN,"Persönlichkeiten, Porträts, Studienköpfe usw. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN

In [35]:
df_test['artist_name_1'].drop_duplicates()

0                    S. Rothkirch
1        Salzburger Maler um 1740
2          Josef Adam Schlesinger
3                   David Teniers
5               Jacopo Tintoretto
                   ...
26231                  Dumonstier
26232                      Mellan
26233                  Passignano
26234                      Romano
26236                 Vinckeboons
Name: artist_name_1, Length: 11184, dtype: object

In [24]:
dataframes['df13'].iloc[:,7:].head()

,auction_house_2,title,title_modifier,artist_name_1,artist_info_1,art_authority_1,nationality_1,attrib_mod_1,attrib_mod_auth_1,artist_ulan_1,...,price_currency_1,price_note_1,price_source_1,price_citation_1,est_price,est_price_curr,start_price,start_price_curr,ppg,lot_notes
0,NaN,"Hirtenfamilie. Kopie, Bez.: S. Rothkirch 1891,...",NaN,S. Rothkirch,NaN,NEW,German,Kopie von,Copy by,0,...,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling,7,"Aus der Katalogbeschreibung, geht nicht eindeu..."
1,NaN,"Bildnis eines Geistlichen, vermutl. eines Chie...",NaN,Salzburger Maler um 1740,NaN,[AUSTRIAN - 18TH C.],Austrian,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling,8,NaN
2,NaN,"Damenbildnis (Eva Josepha Sperle, geb. Münster...",NaN,Josef Adam Schlesinger,NaN,NEW,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,Österreichische Schilling,8,NaN
3,NaN,"Tanzende Bauern im Hof eines Wirtshauses. Oel,...",NaN,David Teniers,Aelterer Nachahmer,"TENIERS, DAVID (THE YOUNGER)",Flemish,Stil,Style of,500001443,...,NaN,NaN,NaN,NaN,NaN,NaN,100,Österreichische Schilling,8,NaN
4,NaN,"Bauer und Mädchen in der Schenke. Oel, Holz, 2...",NaN,David Teniers,NaN,"TENIERS, DAVID (THE YOUNGER)",Flemish,Stil,Style of,500001443,...,NaN,NaN,NaN,NaN,NaN,NaN,40,Österreichische Schilling,8,NaN

In [7]:
dataframes['df13']['price_currency_1'].value_counts()

price_currency_1
Mark    157
Name: count, dtype: int64

In [132]:
dataframes['df13'].columns

Index(['catalog_number', 'lot_number', 'pg', 'lot_sale_year', 'lot_sale_month',
       'lot_sale_day', 'auction_house_1', 'auction_house_2', 'title',
       'title_modifier', 'artist_name_1', 'artist_info_1', 'art_authority_1',
       'nationality_1', 'attrib_mod_1', 'attrib_mod_auth_1', 'artist_ulan_1',
       'artist_name_2', 'artist_info_2', 'art_authority_2', 'nationality_2',
       'attrib_mod_2', 'attrib_mod_auth_2', 'artist_ulan_2', 'artist_name_3',
       'art_authority_3', 'nationality_3', 'attrib_mod_3', 'attrib_mod_auth_3',
       'artist_ulan_3', 'artist_name_4', 'art_authority_4', 'attrib_mod_4',
       'attrib_mod_auth_4', 'artist_ulan_4', 'artist_name_5',
       'art_authority_5', 'attrib_mod_5', 'attrib_mod_auth_5', 'artist_ulan_5',
       'object_type', 'materials', 'dimensions', 'format', 'genre', 'subject',
       'sell_name_1', 'sell_mod_1', 'sell_auth_mod_a_1', 'sell_name_2',
       'sell_mod_2', 'sell_name_3', 'sell_mod_3', 'sell_name_4', 'sell_mod_4',
       'sell_name_5', 'sell_mod_5', 'transaction', 'transaction_so',
       'transaction_cite', 'price_amount_1', 'price_currency_1',
       'price_note_1', 'price_source_1', 'price_citation_1', 'est_price',
       'est_price_curr', 'start_price', 'start_price_curr', 'ppg',
       'lot_notes'],
      dtype='object')

In [139]:
dataframes['df13'][['auction_house_1', 'auction_house_2']]

       auction_house_1 auction_house_2
0            Dorotheum             NaN
1            Dorotheum             NaN
2            Dorotheum             NaN
3            Dorotheum             NaN
4            Dorotheum             NaN
...                ...             ...
26232  Boerner (C. G.)   Graupe (Paul)
26233  Boerner (C. G.)   Graupe (Paul)
26234  Boerner (C. G.)   Graupe (Paul)
26235  Boerner (C. G.)   Graupe (Paul)
26236  Boerner (C. G.)   Graupe (Paul)

[26237 rows x 2 columns]

In [140]:
dataframes['df13'][['artist_name_1', 'artist_info_1', 'artist_ulan_1',
       'artist_name_2', 'artist_info_2', 'artist_ulan_2', 'artist_name_3',
       'art_authority_3',
       'artist_ulan_3', 'artist_name_4', 'art_authority_4', 'artist_ulan_4', 'artist_name_5',
       'art_authority_5','artist_ulan_5']]

,artist_name_1,artist_info_1,artist_ulan_1,artist_name_2,artist_info_2,artist_ulan_2,artist_name_3,art_authority_3,artist_ulan_3,artist_name_4,art_authority_4,artist_ulan_4,artist_name_5,art_authority_5,artist_ulan_5
0,S. Rothkirch,NaN,0,Johann Heinrich Roos,NaN,500013837.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Salzburger Maler um 1740,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Josef Adam Schlesinger,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Teniers,Aelterer Nachahmer,500001443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,David Teniers,NaN,500001443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26232,Mellan,NaN,500026391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26233,Passignano,NaN,500013186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26234,Romano,NaN,500115304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26235,Perino del Vaga,NaN,500000030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26236,Vinckeboons,NaN,500340925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# a lot may refer to one or more objects.

dataframes['df13'][['lot_sale_year', 'lot_sale_month',
       'lot_sale_day']]

       lot_sale_year  lot_sale_month  lot_sale_day
0               1926              12            20
1               1926              12            20
2               1926              12            20
3               1926              12            20
4               1926              12            20
...              ...             ...           ...
26232           1930               5            12
26233           1930               5            12
26234           1930               5            12
26235           1930               5            12
26236           1930               5            12

[26237 rows x 3 columns]

In [144]:
dataframes['df13'][[
       'object_type', 'materials', 'dimensions', 'format', 'genre', 'subject']]

,object_type,materials,dimensions,format,genre,subject
0,Gemälde; Zeichnung,NaN,h 52 cm; w 62 cm,NaN,Genre,NaN
1,Gemälde,Öl auf Leinwand,h 90 cm; w 73 cm,NaN,Porträt,NaN
2,Gemälde,Öl auf Leinwand,h 68 cm; w 53 cm,NaN,Porträt,NaN
3,Gemälde,Öl auf Holz,h 24 cm; w 32 cm,NaN,Genre,NaN
4,Gemälde,Öl auf Holz,h 25 cm; w 19 cm,NaN,Genre,NaN
...,...,...,...,...,...,...
26232,Zeichnung,NaN,NaN,NaN,NaN,NaN
26233,Zeichnung,NaN,NaN,NaN,NaN,NaN
26234,Zeichnung,NaN,NaN,NaN,NaN,NaN
26235,Zeichnung,NaN,NaN,NaN,NaN,NaN
26236,Zeichnung,NaN,NaN,NaN,NaN,NaN

In [145]:
dataframes['df13'][[
       'sell_name_1', 'sell_mod_1', 'sell_auth_mod_a_1', 'sell_name_2',
       'sell_mod_2', 'sell_name_3', 'sell_mod_3', 'sell_name_4', 'sell_mod_4',
       'sell_name_5', 'sell_mod_5']]

,sell_name_1,sell_mod_1,sell_auth_mod_a_1,sell_name_2,sell_mod_2,sell_name_3,sell_mod_3,sell_name_4,sell_mod_4,sell_name_5,sell_mod_5
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
dataframes['df13'][['transaction', 'transaction_so',
       'transaction_cite', 'price_amount_1', 'price_currency_1',
       'price_note_1', 'price_source_1', 'price_citation_1', 'est_price',
       'est_price_curr', 'start_price', 'start_price_curr', ]]

,transaction,transaction_so,transaction_cite,price_amount_1,price_currency_1,price_note_1,price_source_1,price_citation_1,est_price,est_price_curr,start_price,start_price_curr
0,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling
1,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,Österreichische Schilling
2,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,Österreichische Schilling
3,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,Österreichische Schilling
4,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,Österreichische Schilling
...,...,...,...,...,...,...,...,...,...,...,...,...
26232,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26233,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26234,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26235,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26236,Unbekannt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN